{% extends 'base.html' %}

{% block content %}
<h2>{{ question.question }}</h2>
{% if error %}
<p style="color:red">La risposta è errata. Prova ancora!</p>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="question_id" value="{{ question.id }}">
    <input type="radio" id="SI" name="answer" value="SI" required>
    <label for="SI">SI</label><br>
    <input type="radio" id="NO" name="answer" value="NO" required>
    <label for="NO">NO</label><br>
    <button type="submit">Invia risposta</button>
</form>
{% endblock %}